.footer {
  /* padding-top: 60px; */
}
.layout {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
.footer_top {
  border-top: 1px solid #e4e4e4;
}

.footer_menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.footer_menu_list > li {
  /* border: 1px solid red; */
  position: relative;
}

.footer_menu_list > li::after {
  content: "";
  position: absolute;
  right: -33px;
  top: 4px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #ccc;
}

.footer_menu_list > li:last-child::after {
  display: none;
}

.footer_menu_list > li > a {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  color: #29292d;
}

.footer_menu_list > li > a > strong {
  font-weight: 600;
}

.footer_more {
  position: relative;
  font-size: 13px;
  color: #29292d;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.footer_more > span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.footer_more > span > img {
  transform: scale(0.8) rotate(90deg);
}

.more_box {
  position: absolute;
  top: 0;
  left: 50%;
  /* background-color: red; */
  padding-top: 30px;
  transform: translateX(-50%);
}

.footer_more:hover .more_list {
  display: block;
}

.more_list {
  display: none;
  padding: 20px 15px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 8px;
}
.more_list li {
  padding-bottom: 5px;
}

.more_list li a {
  font-weight: 13px;
  line-height: 1.8;
  color: #333;
  white-space: nowrap;
}

/* footer 하단 */
.footer_bottom {
  border-top: 1px solid #e4e4e4;
  height: 270px;
  /* padding: 30px 20px; */
}

.footer_contact {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.footer_contact_box {
}
.footer_contact_box > h3 {
  font-size: 14px;
  color: #111;
  padding-bottom: 10px;
}
.footer_contach_box > ul {
  font-size: 12px;
  color: #6a6a6c;
}
.footer_contact_box > ul > li {
  font-size: 12px;
}

.footer_contact_box > ul > li > address {
  /* color: blue; */
  /* text-decoration: underline; */
  font-style: normal;
  margin-bottom: 4px;
}

.footer_contact_box > ul > li > a {
  color: blue;
  text-decoration: underline;
  font-style: normal;
  margin-bottom: 4px;
  margin-left: 8px;
}

.footer_contact_box > ul > li > address {
  font-style: normal;
  margin-bottom: 4px;
}

.footer_copyright {
  color: #9c9793;
  font-size: 12px;
  /* padding-bottom: 45px; */
}

.footer_copyright p {
  margin-bottom: 5px;
}

/* 하단 메뉴 바 반응형 코드 */
@media all and (max-width: 1280px) {
  .footer_menu_list > li::after {
    right: -30px;
  }
}
@media all and (max-width: 1250px) {
  .footer_menu_list > li::after {
    right: -26px;
  }
}
@media all and (max-width: 1200px) {
  .footer_menu_list > li::after {
    right: -20px;
  }
}
@media all and (max-width: 1140px) {
  .footer_top {
    display: none;
  }
  .footer_bottom {
    display: none;
  }
}
@media all and (max-width: 1024px) {
  .footer {
    display: none;
  }
}

/* 모바일 하단 */
.mb_footer {
  background-color: #f7f7f8;
  padding: 20px;
}

.mb_footer_menu {
}
.mb_footer_menu nav {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.mb_footer_menu nav a {
  font-size: 12px;
  color: #7c7c86;
}

.bar {
  /* 인라인 요소라서 블록함 */
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e2e2e4;
  margin: 0 12px;
}
.mb_footer_info {
}

.mb_footer_link {
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 31px;
  height: 27px;
}

.circle {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 10px 20px;
}

.mb_footer_copy {
  color: #bfbfc0;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
}

.mb_footer_hide {
  /* display: none; */
}

#mb_bt {
  display: flex;
  align-items: center;
  gap: 5px;
}
#mb_bt i {}

#mb_bt i img {
  transform: rotate(90deg);
}