* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 컨텐츠 마다 선택사항, tab 키 눌러서 포커스 되는지 안되는지 */
  outline-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.wrap {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
    "Noto Sans", sans-serif;
  font-weight: 400;
  /* 기본 사이즈 16px */
  font-size: 16px;
  /* (16 * line-height) */
  line-height: 1.3; 
}
