.main {
  position: relative;
  padding-top: 153px;
  /* margin-top: 153px; */
}

.main_scroll {
  padding-top: 100px;
}

@media all and (max-width: 1024px) {
    .main {
        padding-top: calc(64px + 10px);
    }
}