* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.box_frame {
  width: 600px;
  height: 600px;
  background-color: yellowgreen;
}

.box {
  border: 2px solid #000;
  width: 200px;
  height: 200px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

