// 해당 경로의 `이름`만 적어주시
@import "val";
@import "mixins";

.wrap {
  position: relative;
  // minxin 사용 => 함수 사용
  @include flex-center;

  // 변수 사용하기
  width: $width-screen;
  .header {

    width: $width-screen;
    .header_top {
      width: $pc-w;
      height: 100px;
      @include border-fn(#333)
    }
  }
  .main {
    width: $width-screen;
  }
  .footer {
    width: $width-screen;
  }
}
