// 중첩 (Nesting)
.card {
  border: 1px solid #000;
  .title {
    position: relative;
    font-weight: 700;
    &:hover {
      color: blue;
    }
    &:active {
      color: aqua;
    }
    &::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 32px;
        background-color: red;
        left: 0;
        top: o;
    }
  }
  .content {
    color: orange;
    button {
      border: 1px solid cyan;
      &:hover {
        background-color: red;
      }
    }
  }
}
